{%- if site.texture.showNav -%}
<div class="navbar">
	<ul class='cat1'>
		<li><a href="/">Home</a></li>
		<li>Language Study</a>
			<ul>
				<li><a href="/Kotlin">Kotlin</a></li>
				<li><a href="/AngularAndTypeScript">Angular & TypeScript</a></li>
				<li><a href="/EffectiveJava">Effective Java</a></li>
				<li><a href="/CleanCode">Clean Code</a></li>
				<li><a href="/RxJava">Rx Java</a></li>
				<li><a href="/Go">Go</a></li>
			</ul>
		</li>
		<li>Framework & CS Study</a>
			<ul>
				<li><a href="/Kubernetes">Kubernetes</a></li>
				<li><a href="/gRPC">gRPC</a></li>
				<li><a href="/SpringFramework">Spring Framework</a></li>
				<li><a href="/SoftwareEngineering">Software Engineering</a></li>
			</ul>
		</li>
	  </ul>
</div>
{%- endif -%}
